body {
  background: #f0f0f0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 700px;
}
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container {
  perspective: 1000px;
  perspective-origin: 50% 50%;
  font-family: "fontawesome";
  height: 600px;
}

.container .cube {
  position: relative;
  left: 45%;
  top: 40%;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
  cursor: pointer;
  transform: rotateX(135deg) rotateY(-217deg) rotateZ(-88deg);
}
.container .cube div {
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: 2px solid #eee;
  color: #fff;
}
.container .cube div span {
  font-size: 32px;
  font-family: "fontawesome";
}
.container .cube .front {
  background: rgb(78, 9, 119);
  transform: translateZ(100px);
}
.container .cube .front:hover {
  background: rgb(109, 36, 109);
}
.container .cube .back {
  background: rgb(78, 9, 119);
  transform: translateZ(-100px) rotateY(180deg);
}
.container .cube .back:hover {
  background: rgb(109, 36, 109);
}
.container .cube .right {
  background: rgb(78, 9, 119);
  transform-origin: top right;
  transform: rotateY(-270deg) translateX(100px);
}
.container .cube .right:hover {
  background: rgb(109, 36, 109);
}
.container .cube .left {
  background: rgb(78, 9, 119);
  transform-origin: center left;
  transform: rotateY(270deg) translateX(-100px);
}
.container .cube .left:hover {
  background: rgb(109, 36, 109);
}
.container .cube .top {
  background: rgb(78, 9, 119);
  transform-origin: top center;
  transform: rotateX(-270deg) translateY(-100px);
}
.container .cube .top:hover {
  background: rgb(109, 36, 109);
}
.container .cube .bottom {
  background:rgb(78, 9, 119);
  transform-origin: bottom center;
  transform: rotateX(270deg) translateY(100px);
}
.container .cube .bottom:hover {
  background: rgb(109, 36, 109);
}

@keyframes animate {
  25% {
    transform: rotateX(45deg) rotateY(65deg) rotateZ(35deg);
    top: 0%;
  }
  50% {
    transform: rotateX(145deg) rotateY(165deg) rotateZ(135deg);
    top: 30%;
  }
  75% {
    transform: rotateX(276deg) rotateY(256deg) rotateZ(246deg);
    top: 45%;
  }
  100% {
    transform: rotateX(376deg) rotateY(356deg) rotateZ(346deg);
    top: 60%;
  }
}
