.three-dots span:nth-child(1){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.three-dots span:nth-child(2){
  position: absolute;
  top: 35px;
  left: 35px;
}

.three-dots span:nth-child(3){
  position: absolute;
  bottom: 35px;
  right: 35px;
}